# Lab Notebook 2

Continuation of lab notebook except now we have the code to generate a dataset. Therefore, in this notebook we begin with our dataset and explore how we can apply learning models to fit our data.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

from data_fetcher import DataFetcher

In [97]:
# READ IN ALL THREE DATAFRAMES AND JOIN THEM
PATH    = './data/clean/Los_Angeles-North_Main_Street/2018/'

core_df = pd.read_csv(PATH + 'core.csv', index_col='datetime')
vocs_df = pd.read_csv(PATH + 'vocs.csv', index_col='datetime')
emissions_df = pd.read_csv(PATH + 'emissions.csv', index_col='datetime')

In [98]:
core_df.isna().sum()

Carbon monoxide                115
Nitrogen dioxide (NO2)          92
Ozone                          247
PM2.5 - Local Conditions      8415
Wind Direction - Resultant      31
Wind Speed - Resultant          31
Outdoor Temperature             31
Relative Humidity               31
Solar radiation                 28
Ultraviolet radiation           28
Barometric pressure             29
dtype: int64

In [99]:
vocs_df.isna().sum()

1,2,3-Trimethylbenzene    8587
1,2,4-Trimethylbenzene    8583
1,3,5-Trimethylbenzene    8583
1-Butene                  8583
1-Pentene                 8583
2,2,4-Trimethylpentane    8583
2,2-Dimethylbutane        8583
2,3,4-Trimethylpentane    8583
2,3-Dimethylbutane        8583
2,3-Dimethylpentane       8583
2-Methylheptane           8583
2-Methylhexane            8583
2-Methylpentane           8583
3-Methylheptane           8583
3-Methylhexane            8583
3-Methylpentane           8583
Acetaldehyde              8607
Acetylene                 8583
Benzene                   8586
Cyclohexane               8583
Cyclopentane              8583
Ethane                    8583
Ethylene                  8583
Formaldehyde              8607
Isobutane                 8583
Isopentane                8583
Methylcyclohexane         8583
Methylcyclopentane        8583
Propane                   8587
Propylene                 8583
Toluene                   8586
cis-2-Butene              8583
n-Butane                  8583
n-Heptane                 8583
n-Hexane                  8583
n-Nonane                  8583
n-Octane                  8583
n-Pentane                 8583
o-Xylene                  8593
trans-2-Butene            8583
dtype: int64

In [100]:
emissions_df.isna().sum()

ALD2             0
ALK4_butanes     0
ALK4_hexanes     0
ALK4_pentanes    0
BENZ             0
BUTENE           0
C2H2             0
C2H4             0
C2H6             0
C3H8             0
CH2O             0
PRPE             0
TMB              0
TOLU             0
XYLE             0
dtype: int64

In [103]:
# Add emissions suffix to emissions column names
emissions_df.columns = [x + '_emissions' for x in emissions_df.columns]
df = core_df.join([vocs_df, emissions_df])
print(df.shape)
print(df.columns)
df.head(5)

(8760, 66)
Index(['Carbon monoxide', 'Nitrogen dioxide (NO2)', 'Ozone',
       'PM2.5 - Local Conditions', 'Wind Direction - Resultant',
       'Wind Speed - Resultant', 'Outdoor Temperature', 'Relative Humidity ',
       'Solar radiation', 'Ultraviolet radiation', 'Barometric pressure',
       '1,2,3-Trimethylbenzene', '1,2,4-Trimethylbenzene',
       '1,3,5-Trimethylbenzene', '1-Butene', '1-Pentene',
       '2,2,4-Trimethylpentane', '2,2-Dimethylbutane',
       '2,3,4-Trimethylpentane', '2,3-Dimethylbutane', '2,3-Dimethylpentane',
       '2-Methylheptane', '2-Methylhexane', '2-Methylpentane',
       '3-Methylheptane', '3-Methylhexane', '3-Methylpentane', 'Acetaldehyde',
       'Acetylene', 'Benzene', 'Cyclohexane', 'Cyclopentane', 'Ethane',
       'Ethylene', 'Formaldehyde', 'Isobutane', 'Isopentane',
       'Methylcyclohexane', 'Methylcyclopentane', 'Propane', 'Propylene',
       'Toluene', 'cis-2-Butene', 'n-Butane', 'n-Heptane', 'n-Hexane',
       'n-Nonane', 'n-Octane', 'n-Pentane', 'o-Xylene', 'trans-2-Butene',
       'ALD2_emissions', 'ALK4_butanes_emissions', 'ALK4_hexanes_emissions',
       'ALK4_pentanes_emissions', 'BENZ_emissions', 'BUTENE_emissions',
       'C2H2_emissions', 'C2H4_emissions', 'C2H6_emissions', 'C3H8_emissions',
       'CH2O_emissions', 'PRPE_emissions', 'TMB_emissions', 'TOLU_emissions',
       'XYLE_emissions'],
      dtype='object')

,Carbon monoxide,Nitrogen dioxide (NO2),Ozone,PM2.5 - Local Conditions,Wind Direction - Resultant,Wind Speed - Resultant,Outdoor Temperature,Relative Humidity,Solar radiation,Ultraviolet radiation,...,BUTENE_emissions,C2H2_emissions,C2H4_emissions,C2H6_emissions,C3H8_emissions,CH2O_emissions,PRPE_emissions,TMB_emissions,TOLU_emissions,XYLE_emissions
datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,1.5,27.2,0.002,61.4,49.0,3.2,51.8,87.0,0.0,0.0,...,7.575214e-12,2.241558e-12,5.048348e-12,2.606391e-12,6.643679e-12,5.488111e-12,1.917994e-12,1.532717e-12,5.400424e-11,5.694743e-11
2018-01-01 01:00:00,1.6,27.8,0.001,NaN,35.0,2.9,51.4,84.0,0.0,0.0,...,7.575214e-12,2.241558e-12,5.048348e-12,2.606391e-12,6.643679e-12,5.488111e-12,1.917994e-12,1.532717e-12,5.400424e-11,5.694743e-11
2018-01-01 02:00:00,1.5,27.9,0.002,NaN,43.0,3.8,50.9,81.0,0.0,0.0,...,7.575214e-12,2.241558e-12,5.048348e-12,2.606391e-12,6.643679e-12,5.488111e-12,1.917994e-12,1.532717e-12,5.400424e-11,5.694743e-11
2018-01-01 03:00:00,1.5,28.7,0.001,NaN,38.0,3.9,50.3,81.0,0.0,0.0,...,7.575214e-12,2.241558e-12,5.048348e-12,2.606391e-12,6.643679e-12,5.488111e-12,1.917994e-12,1.532717e-12,5.400424e-11,5.694743e-11
2018-01-01 04:00:00,1.5,27.9,0.002,NaN,36.0,4.2,49.5,79.0,0.0,0.0,...,7.575214e-12,2.241558e-12,5.048348e-12,2.606391e-12,6.643679e-12,5.488111e-12,1.917994e-12,1.532717e-12,5.400424e-11,5.694743e-11

## Preprocessing TODO

We need to do the following before running our ML model:

* Drop columns with too much missing data in vocs_df
* Forward or backward fill vocs data (perhaps interpolate)
* Interpolate core_df
* Standardize units accross the dfs
* Normalize some columns?
* How do we tell the model which emissions pertain to which vocs? Should this be done explicitly?